# Ignore the virtual environment
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore logs (We generate these fresh every time)
*.log
target/access.log

# Ignore system files
.DS_Store